* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 55px;
    font-weight: 900;
}

header{
    background-color: #f2f5ed;
    background: url(../images/developer.png), url(../images/header_bg.png),#f0f5ed;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.color-orange{
    color: orangered;
}
nav{
    width: 75%;
    max-width: 1517px;
    /* border: 1px solid crimson; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    color: rgb(70, 73, 228);
    background-color: rgba(20, 220, 220, 0.685);
    border: none;
    border-radius: 3px;
    padding: 15px 30px;
    font-size: 1.25em;
    font-weight: 700;
    cursor: pointer;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 69px;
    align-items: center;
}
nav .menu a{
    font-size: 1.25em;
    color: rgb(0, 0, 255);
    text-decoration: none;
}
#banner .banner-content{
    max-width: 585px;
}
#banner{
/* border: 1px solid red; */
margin: 65px 50px 0 160px;
display: flex;
justify-content: space-between;
align-items: center;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image{
    max-width: 585px;
    vertical-align: middle;
}